<header>
    <nav class="navbar">
        <div class="logo">CozyCorner</div>
        <ul class="nav-links">
            <li><a href="../guest/index.html" id="nav-home">Home</a></li>
            <li><a href="../guest/reservations.html">Reservations</a></li>
            <li><a href="../guest/about.html">About Us</a></li>
            <li><a href="../guest/contact.html">Contact Us</a></li>
            <li><a href="../guest/auth.html" id="nav-login" class="btn btn-nav">Login/Register</a></li>
        </ul>
    </nav>
</header>